.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #322f2f;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #322f2f;
    color:aliceblue;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    padding-left: 5px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 100%;
}
